body {
    width: 400px;
}

button {
    padding: 10px;
}

.hidden {
    display: none !important;
}

.innerContent {
    padding: 20px 40px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.authenticateSection {
    margin-top: 20px;
}

#recordingSection {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#startRecordingBtn {
    width: 100%;
}